{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="post">


    <table class="table">
        <tbody>
            <tr>
                <th>PublishDate</th>
                <td>{{ post.publishDate ? post.publishDate|date('Y-m-d ') : '' }}</td>
            </tr>

            <tr>
                <th>CoverImage</th>
                <td><img src="{{ post.coverImage }}"></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content|raw }}</td>
            </tr>
            <tr>
                <th>Hashtags</th>
                <td>
                {% if post.hashtags != null %}
                    {% for hashtag in post.hashtags %}
                         <a href="/hashtag/posts/{{ hashtag.id}}"> #{{ hashtag}}</a>
                        <span> </span>
                    {% endfor %}
                {% endif %}

                </td>
            </tr>

            <tr>
            <tr>
                <th>Author</th>
                <td><a href="/author/{{ post.author.id}}"> {{ post.author.username }}</a></td>
            </tr>
                <th>Author Image</th>
                <td><img src="{{ post.author.profilePicture }}", style="border-radius:100px"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}