{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} | Ubago Duona{% endblock %}

{% block body %}

    <div class="show-post">
        <div class="back-button"><a href="{{ path('homepage') }}" style="font-size: 14px, margin-bottom:20px">atgal</a></div>
        <img src="{{ post.coverImage }}" class="post-cover-image">
        <div class='post-title' style='font-size: xx-large'>{{ post.title }}</div>
        <div class="post-date" id="post-date">fuck you</div>
        <div class="hashtags">
            {% for hashtag in post.hashtags %}
                <a href="/hashtag/posts/{{ hashtag.getID }}"> #{{ hashtag }}</a>
            {% endfor %}
        </div>
        <div class="post-content">{{ post.content|raw }}</div>


        <div class="author-image-holder"><a href="/author/{{ post.author.id }}"><img src="{{ post.author.profilePicture }}" class="author-image"></a></div>
        <div class="author-name"><a href="/author/{{ post.author.id }}">{{ post.author.username }}</a> </div>
        <div class="back-button"><a href="{{ path('homepage') }}" style="font-size: 14px, margin-bottom:20px">atgal</a></div>
        <script>
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var day = ({{ post.publishDate|date('d') }});
            var month = ({{ post.publishDate|date('m') }})-1;
            console.log(month)
            var year = ({{ post.publishDate|date('Y') }});
            var date = new Date(Date.UTC(year, month, day));;

            date = date.toLocaleDateString('lt-LT', options);
            document.getElementById('post-date').innerHTML = date;
        </script>
          {% if app.user %}
            <hr>
            <div class="post-author-section">
                <a href="{{ path('post_edit', {'id': post.id}) }}">redaguoti</a>
                <br>
                <a href="{{ path('post_edit', {'id': post.id}) }}">straipsnių lentelė</a>
                <div class="delete-post">{{ include('post/_delete_form.html.twig') }}</div>

            </div>
        {% endif %}

    </div>
{% endblock %}