<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <link rel="icon" href="/styleelements/favicon.png">
        <title>

            {% block title %}
                Ubago Duona
            {% endblock %}

        </title>

            {% block stylesheets %}
                <style>
                    body{
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                </style>
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/parallax.css") }}">
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/app.css") }}">
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/navbar.css") }}">
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/archive.css") }}">
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/sidebar.css") }}">
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/showPost.css") }}">
                <link rel="stylesheet" type="text/css" href="{{ asset("build/css/authorShow.css") }}">

            {% endblock %}

        {% endblock %}
    </head>

    <body>

        {% block parallax %}
        {% endblock %}
        <div class="after-parallax">
            {% block navbar %}
                {#<script src="{{ asset('build/js/navbar.js') }}"></script>#}
                {% include 'navbar.html.twig' %}
            {% endblock %}

            {% block sidebar %}
                {% include 'sidebar.html.twig' %}
            {% endblock %}

            {% block body %}
                <div class="after-navbar"></div>
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
