{% extends 'base.html.twig' %}

{% block body %}
    <div class="author-show-body">
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.profilePicture) }}
        {{ form_row(form.profilePictureFile) }}
        {{ form_row(form.bio) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </div>
{% endblock %}