{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <div class="author-show-body">
    <h1>visi autoriai</h1>

    <table class="author-table">
        <thead>
            <tr>
                <th>vardas</th>
                <th>pavardė</th>
                <th>gimtadienis</th>
                <th>parašas</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.birthday ? author.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">rodyti</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">pridėti autorių</a>
    <script src="/path/to/infinite-scroll.pkgd.min.js"></script>
    </div>
{% endblock %}