{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <div class="author-show-body">
        <button onclick="goBack()" class="back-button-author">atgal</button>
        <br>
        <br>
        {#<div class="all-authors-link">#}
            {#<a href="{{ path('author_list') }}">visi autoriai</a>#}
        {#</div>#}
        <br>
        <br>
        <div class="author-name">{{ author.username }}</div>
        <div class="author-picture"><img class="author-picture" src="{{ author.profilePicture }}" style="border-radius: 100px"> </div>
        <div class="author-real-name">{{ author.firstName }} {{ author.lastName }}</div>
        <div class="author-bio">{{ author.bio }}</div>
        <br>

        <div class="author-posts">
            <div style="font-weight: bold">{{ author.username }} parašė: </div>
            {% for post in posts %}
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
                <br>
            {% endfor %}
            <button onclick="goBack()" class="back-button-author">atgal</button>


    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    {% if app.user %}
        <br>
        <br>
        <hr>
        <a href="{{ path('author_edit', {'id': author.id}) }}">redaguoti autorių</a>
        <div class="delete-author"><a>{{ include('author/_delete_form.html.twig') }} </a></div>
    {% endif %}
    </div>
{% endblock %}