{% extends 'base.html.twig' %}
{% block body %}
    <div class="author-show-body">
        <h1>autoriaus kampelis</h1>
        <h2>labas, {{ author.username }}</h2>
        <a href="{{ path('post_new') }}">rašyti naują įrašą</a>
        <br>
        <a href="{{ path('author_show', {'id': author.id}) }}">mano profilis</a>
        <br>
        <a href="{{ path('editauthordetails') }}">keisti profilį</a>
        <br>
        <a href="{{ path('editauthorpassword') }}">keisti slaptažodį</a>
        <br>
        <a href="{{ path('authorPostsForAuthor',{'author': author}) }}">mano paskelbti įrašai</a>
        <br>
        <a href="{{ path('unpostedPostsByAuthor',{'author': author}) }}">mano nepaskelbti įrašai</a>
        <br>
        <a href="{{ path('logout')}}">atsijungti</a>

        {% if is_granted('ROLE_SUPERUSER') %}
            <br>
            <h1>super autoriaus kampelis</h1>
            <br>
            <a href="{{ path('author_index') }}">visi autoriai</a>
            <br>
            <a href="{{ path('author_new') }}">naujas autorius</a>
            <br>
            <a href="{{ path('allPostsForSuperAuthor') }}">visi irasai</a>
            <br>
            <a href="{{ path('hashtag_index') }}">hashtag'ai</a>
        {% endif %}

    </div>
{% endblock %}