{% extends 'base.html.twig' %}

{% block title %}Hashtag index{% endblock %}

{% block body %}
    <div class="author-show-body">
    <h1>Hashtag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HastagName</th>
                <th>ReadCount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hashtag in hashtags %}
            <tr>
                <td>{{ hashtag.id }}</td>
                <td>{{ hashtag.hashtagName }}</td>
                <td>{{ hashtag.readCount }}</td>
                <td>
                    <a href="{{ path('hashtag_show', {'id': hashtag.id}) }}">show</a>
                    <a href="{{ path('hashtag_edit', {'id': hashtag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hashtag_new') }}">Create new</a>
    </div>
{% endblock %}